footer {
  background-color: #2b2b2b;
  border-top: solid 5px #850c0c;
  color: #fff;
  text-align: center;
  height: 320px;
  padding: 50px 10% 0;
  bottom: 0;
}
footer img {
  width: 150px;
}
.footerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.socialMedia img {
  width: 30px;
}
footer h2 {
  font-size: 30px;
  font-family: "Ibarra Real Nova";
}
.footer-col-two h2,
.footer-col-three h2 {
  margin-bottom: 20px;
}
.footer-col-three {
  max-width: 400px;
}
.footer-col-two {
  margin-left: 100px;
}
.footer-col-two i {
  display: flex;
  text-align: left;
  font-style: normal;
  gap: 10px;
}

footer .copyright {
  color: #fff;
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}
